{% extends "master.html" %} <!-- hereda -->

{% block contenido %}
<!-- Offers Section -->
            <section id="offers" class="offers">
                <div class="container text-center">

                    <header>
                        <h2>COCINA</h2>
                        <h3>Pedidos</h3>
                    </header>
                    {%for p in pedidos%}
                    <div class="container">
                    <div class="row" id="div{{p.2}}">
                        <div class="col-sm-4">
                            <div class="item">
                                <div class="discount">
                                    <div id="radio">
                                      <form class="form">
                                        <input type="checkbox" name="estado" value="listo" id="estado{{p.2}}">
                                        <label for="estado" >Listo </label>
                                        </form>
                                    </div>
                                </div>

                                <div class="text">
                                    <h4>{{p.0}}</h4>
                                    <p class="after text-primary text-large">Cantidad: {{p.1}}</p>
                                </div>
                                <p>-------------------------</p>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                  </div>
                </div>
            </section>

    <script type="text/javascript">
        document.ready(function (){
            $("#estado").click(function()
                {

                });
        }
    </script>



{%endblock%}
