
{% extends "master.html" %} <!-- hereda -->

{% block contenido %} <!--se sobreescribe del padre-->
  <!-- Registro Section -->
            <section id="booking" class="booking">
                <div class="container text-center">
                    <header>
                        <h2>REGISTRO</h2>
                        <h3>Preparate para la mejor experiencia culinaria</h3>
                    </header>

                    <div class="row">
                        <div class="form-holder col-md-10 col-md-push-1 text-center">
                            <div class="ribbon">
                                <i class="fa fa-star"></i>
                            </div>

                            <h2>Ingresa tus datos personales</h2>
                            <h3>Book your table now</h3>

                            <form method="POST" action ="manejo_pedidos/menu" class="post-form" id="booking-form">{% csrf_token %}

                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <div class="row">
                                            <label for="name" class="col-sm-6 unique">Nombre
                                                <input name="name" type="text" id="name" required>
                                            </label>
                                            <label for="email" class="col-sm-6 unique">Email
                                                <input name="email" type="email" id="email" required>
                                            </label>
                                            <label for="number" class="col-sm-6 unique">Cédula/ RUC
                                                <input name="cedula" type="number" id="cedula" required>
                                            </label>
                                            <!--<label for="people" class="col-sm-6 unique">How Many People
                                                <input name="people" type="number" id="people" min="1" required>
                                            </label>
                                            <label for="date" class="col-sm-6 unique">Date
                                                <input name="date" type="text" id="date" class="datepicker-here" data-language='en' required>
                                            </label>-->
                                            <label for="time" class="col-sm-6 unique">Número de teléfono
                                                <input name="numero" type="text" id="numero" required>
                                            </label>
                                            <label for="request" class="col-sm-12 unique">Dirección
                                                <textarea id="request" name="request" required></textarea>
                                            </label>
                                            <div class="col-sm-12">
                                                <button type="submit" id="enviar" class="btn-unique">
                                                Realizar Pedido</button>
                                                <!--<a id="envio" href="/manejo_pedidos/menu">REALIZAR PEDIDO</a>
                                                <button type="submit" id="enviar" class="btn-unique">
                                                Realizar Pedido</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--Fin Registro


            <script type="text/javascript">
                jQuery(document).ready(function ($) { //cuando se rendetize todo
                console.log('llegando');
                $('#enviar').click(function(){//cuando se de un click al seleccionador del select de arriba
                            $nombre = $('#name').val();
                            $id = $('#cedula').val();
                            $telf = $('#telefono').val();
                            console.log($nombre);//imprimo
                            $.ajax({//utlizo la funcion ajax de jquery
                                //method:"POST",// con el metodo post le envio a la vista
                                url: 'manejo_pedidos/menu',//vista
                                data: {//datos que se envian
                                    'nombre': $nombre,
                                },
                                type:'get',
                                //beforeSend:function() {},

                                success:function(data){//cuando todo es satisfactorio en el ajax, recibe la data del diccioinario req de la vista
                                    console.log('regresando del método');
                                    console.log(data.mensaje);

                                }
                            });
                        });

            });
            </script>
            -->

{% endblock %}
<!--{% load staticfiles %}
   <html>
       <head>
           <title>Restaurants</title>
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
           <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
           <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
           <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       </head>
       <body>
           <div class="page-header">
               <a href="{% url 'index' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
               <h1><a href="/">Django Girls Blog</a></h1>
           </div>
           <div class="content container">
               <div class="row">
                   <div class="col-md-8">
                       {% block content %}
                       {% endblock %}
                   </div>
               </div>
           </div>
       </body>
   </html>
-->
